<div fxLayout="row">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Business Details (Admin View)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="vendor-form" [formGroup]="vendorForm" (ngSubmit)="onSubmit(vendorForm.value)">
          <mat-form-field appearance="none">
            <mat-label>Business Name</mat-label>
            <input matInput formControlName="businessName" readonly>
          </mat-form-field>
          <mat-form-field appearance="none">
            <mat-label>Registered Date</mat-label>
            <input matInput formControlName="registeredDate" readonly>
          </mat-form-field>
          <mat-form-field appearance="none">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="emailAddress" readonly>
          </mat-form-field>
          <mat-form-field appearance="none">
            <mat-label>Contact Name</mat-label>
            <input matInput formControlName="contactName" readonly>
          </mat-form-field>
          <mat-form-field appearance="none">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" readonly>
          </mat-form-field>
          <mat-form-field appearance="none">
            <mat-label>Bank Account Number</mat-label>
            <input matInput formControlName="bankAccountNumber" readonly>
          </mat-form-field>
          <p><mat-checkbox formControlName="isClickAndCollect" disabled>Is interested in setting up <i>Click & Collect</i></mat-checkbox></p>
          <p><mat-checkbox formControlName="hasAgreedToTerms" disabled>Has agreed to terms and conditions</mat-checkbox></p>
          <mat-form-field appearance="outline">
            <mat-label>Tag(s)</mat-label>
            <input matInput formControlName="internalTag">
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="primary" [disabled]="!vendorForm.valid || workInProgress" type="submit">Save</button>
            <button mat-raised-button color="warn" (click)="onCancelClick()" type="button">Cancel</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="loading-indicator" *ngIf="workInProgress">
  <mat-spinner></mat-spinner>
</div>
