<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://soscafevendor-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dfcaa4bf-88a2-4d1b-ac63-326363f2be78/resourceGroups/SosCafeTest/providers/Microsoft.Web/sites/soscafevendor-test</ResourceId>
    <UserName>$soscafevendor-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://soscafevendor-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>