<div fxFlex></div>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"><mat-icon style="color: white;">account_circle</mat-icon></button>
<mat-menu #profile="matMenu">
  <button *ngIf="loggedIn" mat-menu-item disabled>
    <mat-icon>email</mat-icon> {{ userEmail }}
  </button>
  <button *ngIf="loggedIn" mat-menu-item (click)="onSignOut()">
    <mat-icon>exit_to_app</mat-icon> Sign Out
  </button>
  <button *ngIf="!loggedIn" mat-menu-item (click)="onSignIn()">
    <mat-icon>exit_to_app</mat-icon> Sign In
  </button>
</mat-menu>
