<div fxFlex></div>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/profile.png" alt="user"
    class="profile-pic"> </button>
<mat-menu #profile="matMenu">
  <button *ngIf="loggedIn" mat-menu-item (click)="onNewVendor()">
    <mat-icon>add</mat-icon> Register a Vendor
  </button>
  <button *ngIf="loggedIn" mat-menu-item (click)="onSignOut()">
    <mat-icon>exit_to_app</mat-icon> Sign Out
  </button>
  <button *ngIf="!loggedIn" mat-menu-item (click)="onSignIn()">
    <mat-icon>exit_to_app</mat-icon> Sign In
  </button>
</mat-menu>
