<div fxLayout="row">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Whoops!</mat-card-title>
        <mat-card-subtitle>Error 404 (Page not found)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Something didnt work as expected. Automatically redirecting you to the home page in 5 seconds.</p>
        <small>If you are not automatically redirected, please click <a href="/">here</a>.</small>
      </mat-card-content>
    </mat-card>

  </div>
</div>
